misim-bus/misim-bus/misim-bus-core/src/main/app/envio-sim-001.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="CE-3.5.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
	<spring:beans>
		<spring:bean id="invocarEnvio001SMS" name="invocarEnvio001SMS" class="es.minhap.misim.components.InvocarEnvio001" />
		<spring:bean id="invocarEnvio001SMSResp" name="invocarEnvio001SMSResp" class="es.minhap.misim.components.InvocarEnvio001RespOP" />
<!-- 
		<spring:bean id="invocarEnvio001SMSConsulta" name="invocarEnvio001SMSConsulta" class="es.minhap.misim.components.InvocarEnvio001ConsultaOP" />
-->
		<spring:bean id="gestionErroresEnvioSim001" name="gestionErroresEnvioSim001" class="es.minhap.misim.components.GestionErroresEnvioSIM001"/>
	
	</spring:beans>

	<!-- DESDE LAS APLICACONES A MISIM (CON LA LIBRERIA PARA INTRODUCIR BBDD) -->

	<flow name="FLW-ENV-SIM-001" doc:name="FLW-ENV-SIM-001" doc:description="Procesa una nueva Petición">

		<!-- RECEPCIÓN PETICIÓN -->
		<vm:inbound-endpoint exchange-pattern="request-response" path="envio-sim-001" responseTimeout="120000" doc:name="VM" />

		<logger level="INFO" doc:name="Logger" message="------------------------------------------------------------------------------------------" />
		<logger level="INFO" doc:name="Logger" message="------------------------------------------------------------------------------------------" />
		<logger level="INFO" doc:name="Logger" message="Petición SOAP recibida desde AEAT #[groovy:misim.bus.common.util.XMLUtils.dom2xml(payload.soapMessage)]" />
		<logger level="INFO" doc:name="Logger" message="------------------------------------------------------------------------------------------" />
		<logger level="INFO" doc:name="Logger" message="------------------------------------------------------------------------------------------" />
		<logger level="INFO" doc:name="Logger" message="Inicio petición" />


		<!-- INVOCACIÓN DEL ENVIADOR -->
		<component doc:name="Invocar envio SMS AEAT">
			<spring-object bean="invocarEnvio001SMS" />
		</component>

		<!-- ADAPTAR PETICIÓN -->
		
		<choice doc:name="Adaptar la petición"> 
			<when expression="#[message.outboundProperties['${ENVIAR_MENSAJE_PREMIUM_001}'] == 'S']">
				<processor-chain doc:name="Processor Chain">
<!-- 					<set-variable variableName="${XSL_SHEET}" value="#[message.outboundProperties['${XSL_PETICION}']]" doc:name="Hoja XSL para transformar el payload" /> -->
					
					<logger level="INFO" doc:name="Logger" message="Adaptación de la petición" />
					<logger level="INFO" doc:name="Logger" message="Antes del subfujo FLW-MSG-ADP de adaptación del protocolo el payload es : #[payload]" />
					<flow-ref name="FLW-RCP-ENV" doc:name="Adaptar protocolo hacia Emisor" />
					<logger level="INFO" doc:name="Logger" message="Después del subfujo FLW-MSG-ADP de adaptación del protocolo el payload es : #[payload]" />
				<component doc:name="Invocar envio SMS AEAT">
					<spring-object bean="invocarEnvio001SMSResp" />
				</component>
				</processor-chain>
			</when>
<!-- 
			<when expression="#[message.outboundProperties['${ENVIAR_MENSAJE_PREMIUM_001}'] == 'C']">
				<processor-chain doc:name="Processor Chain">
				<set-variable variableName="${XSL_SHEET}" value="#[message.outboundProperties['${XSL_PETICION}']]" doc:name="Hoja XSL para transformar el payload" />
					<component doc:name="Consulta envio SMS AEAT">
						<spring-object bean="invocarEnvio001SMSConsulta" />
					</component>
				</processor-chain>
			</when>
-->
 			<otherwise>
				<logger level="INFO" doc:name="Logger" message="No se requiere de adaptacion de la peticion" />
			</otherwise>
		</choice>

		<!-- INVOCACIÓN DEL ENVIADOR -->

		<set-property propertyName="${XML_RESPUESTA}" value="#[groovy:misim.bus.common.util.XMLUtils.dom2xml(payload.soapMessage)]"  doc:name="Property XML_RESPUESTA" />
		
		<logger level="INFO" doc:name="Logger" message="Petición procesada" />
		<logger level="INFO" doc:name="Logger" message="------------------------------------------------------------------------------------------" />
		<logger level="INFO" doc:name="Logger" message="------------------------------------------------------------------------------------------" />
		<logger level="INFO" doc:name="Logger" message="Respuesta SOAP devuelta a AEAT: #[groovy:misim.bus.common.util.XMLUtils.dom2xml(payload.soapMessage)]" />
		<logger level="INFO" doc:name="Logger" message="------------------------------------------------------------------------------------------" />
		<logger level="INFO" doc:name="Logger" message="------------------------------------------------------------------------------------------" />



		<!-- GESTIÓN DE ERRORES -->



		<catch-exception-strategy doc:name="Catch Exception Strategy">

			<!-- GENERAR EL SOAP FAULT -->
			<component doc:name="Gestión de errores" >
				<spring-object bean="gestionErroresEnvioSim001" />
			</component>

<!-- 			<set-property propertyName="${XML_FAULT}" value="#[groovy:misim.bus.common.util.XMLUtils.dom2xml(payload.soapMessage)]"  doc:name="Property XML_FAULT" /> -->
				
			<!-- ACTUALIZACIÓN DE AUDITORÍA -->
<!--         	<logger level="INFO" doc:name="Logger" message="Comprobar actualización de la auditoría" /> -->
<!--         	<choice doc:name="Encriptación del error al Consumidor"> -->
<!-- 				<when expression="#[message.outboundProperties['${ID_AUDITORIA}'] != '']"> -->
<!-- 					ENCRIPTACIÓN -->
<!-- 					<logger level="INFO" doc:name="Logger" message="Comprobar si se requiere encriptación para la auditoría" /> -->
<!-- 					<processor-chain doc:name="Processor Chain"> -->
<!-- 						<logger level="INFO" message="Encriptación requerida" doc:name="Logger" /> -->
<!-- 						<component	doc:name="Encripta" > -->
<!-- 							<spring-object bean="encriptar" /> -->
<!-- 						</component> -->
<!-- 					</processor-chain> -->
<!-- 					<processor-chain doc:name="Processor Chain"> -->
<!-- 						<logger level="INFO" doc:name="Logger" message="Actualización de la auditoría fault" /> -->
<!-- 						<component doc:name="Actualización de auditoría Fault"> -->
<!-- 							<spring-object bean="updateAuditFault" /> -->
<!-- 						</component> -->
<!-- 					</processor-chain> -->
<!-- 				</when> -->
<!-- 				<otherwise> -->
<!-- 					<logger level="INFO" message="Actualización de auditoría no requerida" doc:name="Logger" /> -->
<!-- 				</otherwise> -->
<!-- 			</choice>	 -->

			<logger level="INFO" doc:name="Logger" message="SOAP Fault procesado" />
			<logger level="INFO" doc:name="Logger" message="------------------------------------------------------------------------------------------" />
			<logger level="INFO" doc:name="Logger" message="------------------------------------------------------------------------------------------" />
			<logger level="INFO" doc:name="Logger" message="SOAP Fault devuelta a AEAT: #[groovy:misim.bus.common.util.XMLUtils.dom2xml(payload.soapMessage)]" />
			<logger level="INFO" doc:name="Logger" message="------------------------------------------------------------------------------------------" />
			<logger level="INFO" doc:name="Logger" message="------------------------------------------------------------------------------------------" />

		</catch-exception-strategy>
	</flow>
</mule>
