misim-bus/misim-bus/misim-bus-core/src/main/app/recepcion-telefonica.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="CE-3.5.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
	<spring:beans>
		<spring:bean id="inicializarTelefonica" name="inicializarTelefonica" class="es.minhap.misim.components.InicializarTelefonica"/>
		<spring:bean id="gestionErroresTelefonica" name="gestionErroresTelefonica" class="es.minhap.misim.components.GestionErroresTelefonica"/>
		<spring:bean id="invocarRecepcionSMS" name="invocarRecepcionSMS" class="es.minhap.misim.components.InvocarRecepcion"/>
		<spring:bean id="incluirUsuario" name="incluirUsuario" class="es.minhap.misim.components.IncluirUsuario"/>
		<spring:bean id="invocarEnvio001SMSConsulta" name="invocarEnvio001SMSConsulta" class="es.minhap.misim.components.InvocarEnvio001ConsultaOP" />
	</spring:beans>

	<flow name="FLW-RCP-TEL" doc:name="FLW-RCP-TEL" doc:description="Procesa una nueva Petición">
			
		<!-- RECEPCIÓN PETICIÓN -->
		<vm:inbound-endpoint exchange-pattern="request-response" path="recepcion-telefonica" responseTimeout="120000" doc:name="VM"/>
			
		<logger level="INFO" doc:name="Logger" message="------------------------------------------------------------------------------------------" />
		<logger level="INFO" doc:name="Logger" message="------------------------------------------------------------------------------------------" />
		<logger level="INFO" doc:name="Logger" message="Petición SOAP recibida: #[groovy:misim.bus.common.util.XMLUtils.dom2xml(payload.soapMessage)]" />
		<logger level="INFO" doc:name="Logger" message="------------------------------------------------------------------------------------------" />
		<logger level="INFO" doc:name="Logger" message="------------------------------------------------------------------------------------------" />
		<logger level="INFO" doc:name="Logger" message="Inicio petición" />

		<!-- INICIALIZAR VARIABLES -->
		<logger level="INFO" doc:name="Logger" message="Inicializar variables" />
		<component	doc:name="Inicializa variables" >
			<spring-object bean="inicializarTelefonica" />
		</component>

		<set-property propertyName="${XML_PETICION}" value="#[groovy:misim.bus.common.util.XMLUtils.dom2xml(payload.soapMessage)]"  doc:name="Property XML_PETICION" />
			
		<!-- ENCRIPTACIÓN -->
		<logger level="INFO" doc:name="Logger" message="Encriptación para la auditoría" />
		<processor-chain doc:name="Processor Chain">
			<component	doc:name="Encripta" >
				<spring-object bean="encriptar" />
			</component>
		</processor-chain>
		
		<!-- AUDITORÍA -->
		<logger level="INFO" doc:name="Logger" message="Auditoría de la petición recibida" />
		<component	doc:name="Audita" >
			<spring-object bean="audit" />
		</component>
		
		<!-- ADAPTAR PETICIÓN -->
		<processor-chain>
			<set-variable variableName="${XSL_SHEET}" value="#[message.outboundProperties['${XSL_PETICION}']]" doc:name="Hoja XSL para transformar el payload" />
			
			<logger level="INFO" doc:name="Logger" message="Transformación del mensaje de la petición" />
			<logger level="INFO" doc:name="Logger" message="Antes del subfujo FLW-MSG-ADP de adaptación del protocolo el payload es : #[payload]" />
			
			<flow-ref name="FLW-MSG-ADP" doc:name="Adaptar protocolo hacia Emisor" />
			
			<logger level="INFO" doc:name="Logger" message="Flujo de ida adaptado" />
			<logger level="INFO" doc:name="Logger" message="Después del subfujo FLW-MSG-ADP de adaptación del protocolo el payload es : #[payload]" />
		</processor-chain>
		
		<!-- INCLUIR USUARIO -->
		<logger level="INFO" doc:name="Logger" message="Incluir usuario"/>
		<component	doc:name="Incluir usuario" >
			<spring-object bean="incluirUsuario" />
		</component>
		
		<!-- INVOCACIÓN AL EMISOR -->
		<logger level="INFO" doc:name="Logger" message="Operation #[payload.soapAction]" />
		<component	doc:name="Recepcion telefonica" >
			<spring-object bean="invocarRecepcionSMS" />
		</component>
		<logger level="INFO" doc:name="Logger" message="Operacion invocada #[payload]" />
		
		
		
		<!-- ADAPTAR PROTOCOLO -->		
		<choice doc:name="Adaptar la respuesta"> 
			<when expression="#[message.outboundProperties['${TRANSFORMACION_RESPUESTA}'] == 'S']">
				<processor-chain>	
					<set-variable variableName="${XSL_SHEET}" value="#[message.outboundProperties['${XSL_RESPUESTA}']]" doc:name="Hoja XSL para transformar la respuesta" />	
								
					<logger level="INFO" doc:name="Logger" message="Adaptación de la respuesta" />
					<logger level="INFO" doc:name="Logger" message="Antes del subfujo FLW-MSG-ADP de adaptación del protocolo el payload es : #[payload]" />
					<flow-ref name="FLW-MSG-ADP" doc:name="Adaptar protocolo hacia Telefonica" />
					<logger level="INFO" doc:name="Logger" message="Después del subfujo FLW-MSG-ADP de adaptación del protocolo el payload es : #[payload]" />
				</processor-chain>
			</when>
			<otherwise>
				<logger level="INFO" doc:name="Logger" message="No se requiere de adaptacion de la respuesta" />
			</otherwise>
		</choice>
		
		<!-- INDENTIFICAR INCLUIR ID SMS -->
		<logger level="INFO" doc:name="Logger" message="Indentificación propiedades mensaje" />
		<component	doc:name="incluir id mensaje" >
			<spring-object bean="incluirIdentificadorMensajeOperador" />
		</component>
		
		<set-property propertyName="${XML_RESPUESTA}" value="#[groovy:misim.bus.common.util.XMLUtils.dom2xml(payload.soapMessage)]"  doc:name="Property XML_RESPUESTA" />
		
		<!-- ENCRIPTACIÓN -->
		<logger level="INFO" doc:name="Logger" message="Comprobar si se requiere encriptación para la auditoría" />
		<processor-chain doc:name="Processor Chain">
			<logger level="INFO" message="Encriptación requerida" doc:name="Logger" />
			<component	doc:name="Encripta" >
				<spring-object bean="encriptar" />
			</component>
		</processor-chain>
		
		<!-- ACTUALIZACIÓN DE AUDITORÍA -->
		<logger level="INFO" doc:name="Logger" message="Actualización de la auditoría" />
		<component doc:name="Actualizacón de Auditoría">
			<spring-object bean="updateAudit" />
		</component>

		<logger level="INFO" doc:name="Logger" message="Petición procesada" />
		<logger level="INFO" doc:name="Logger" message="------------------------------------------------------------------------------------------" />
		<logger level="INFO" doc:name="Logger" message="------------------------------------------------------------------------------------------" />
		<logger level="INFO" doc:name="Logger" message="Respuesta SOAP devuelta: #[groovy:misim.bus.common.util.XMLUtils.dom2xml(payload.soapMessage)]" />
		<logger level="INFO" doc:name="Logger" message="------------------------------------------------------------------------------------------" />
		<logger level="INFO" doc:name="Logger" message="------------------------------------------------------------------------------------------" />
        
        
        
        <!-- GESTIÓN DE ERRORES -->
        
        
        <catch-exception-strategy doc:name="Catch Exception Strategy">
        	
        	<!-- GENERAR EL SOAP FAULT -->
        	<component	doc:name="Gestión de errores" >
				<spring-object bean="gestionErroresTelefonica" />
			</component>
			
			<set-property propertyName="${XML_FAULT}" value="#[groovy:misim.bus.common.util.XMLUtils.dom2xml(payload.soapMessage)]"  doc:name="Property XML_FAULT" />
<!-- 					
		<choice doc:name="Adaptar la petición"> 
			<when expression="#[message.outboundProperties['${RECEPCION_MENSAJE_PREMIUM_001}']  != '']">
				<processor-chain>
					<set-variable variableName="${XSL_SHEET}" value="#[message.outboundProperties['${XSL_RESPUESTA}']]" doc:name="Hoja XSL para transformar la respuesta" />	
					<component doc:name="Consulta envio SMS AEAT">
						<spring-object bean="invocarEnvio001SMSConsulta" />
					</component>
				</processor-chain>
			</when>
 		</choice>
 -->			
				
			<!-- ACTUALIZACIÓN DE AUDITORÍA -->
        	<logger level="INFO" doc:name="Logger" message="Comprobar actualización de la auditoría" />
        	<choice doc:name="Encriptación del error al Consumidor">
				<when expression="#[message.outboundProperties['${ID_AUDITORIA}'] != '']">
					<!-- ENCRIPTACIÓN -->
					<logger level="INFO" doc:name="Logger" message="Comprobar si se requiere encriptación para la auditoría" />
					<processor-chain doc:name="Processor Chain">
						<logger level="INFO" message="Encriptación requerida" doc:name="Logger" />
						<component	doc:name="Encripta" >
							<spring-object bean="encriptar" />
						</component>
					</processor-chain>
					<processor-chain doc:name="Processor Chain">
						<logger level="INFO" doc:name="Logger" message="Actualización de la auditoría fault" />
						<component doc:name="Actualización de auditoría Fault">
							<spring-object bean="updateAuditFault" />
						</component>
					</processor-chain>
				</when>
				<otherwise>
					<logger level="INFO" message="Actualización de auditoría no requerida" doc:name="Logger" />
				</otherwise>
			</choice>	
	
			<logger level="INFO" doc:name="Logger" message="SOAP Fault procesado" />
			<logger level="INFO" doc:name="Logger" message="------------------------------------------------------------------------------------------" />
			<logger level="INFO" doc:name="Logger" message="------------------------------------------------------------------------------------------" />
			<logger level="INFO" doc:name="Logger" message="SOAP Fault devuelta: #[groovy:misim.bus.common.util.XMLUtils.dom2xml(payload.soapMessage)]" />
			<logger level="INFO" doc:name="Logger" message="------------------------------------------------------------------------------------------" />
			<logger level="INFO" doc:name="Logger" message="------------------------------------------------------------------------------------------" />
		
        </catch-exception-strategy>
	</flow>
</mule>
