misim-bus/misim-bus-core/src/main/app/envio-sim-giss.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="CE-3.5.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
	<spring:beans>

		<spring:bean id="invocarEnvioGISS" name="invocarEnvioGISS" class="es.minhap.misim.components.InvocarEnvioGiss" />
		<spring:bean id="invocarEnvioGISSResp" name="invocarEnvioGISSResp" class="es.minhap.misim.components.InvocarEnvioGissRespOP" />
		<spring:bean id="gestionErroresEnvioSimGiss" name="gestionErroresEnvioSimGiss" class="es.minhap.misim.components.GestionErroresEnvioSIMGiss"/>
	
	</spring:beans>

	<!-- DESDE LAS APLICACONES A MISIM (CON LA LIBRERIA PARA INTRODUCIR BBDD) -->

	<flow name="FLW-ENV-SIM-GISS" doc:name="FLW-ENV-SIM-GISS" doc:description="Procesa una nueva Petición">

		<!-- RECEPCIÓN PETICIÓN -->
		<vm:inbound-endpoint exchange-pattern="request-response" path="envio-sim-GISS" responseTimeout="120000" doc:name="VM" />

		<logger level="INFO" doc:name="Logger" message="------------------------------------------------------------------------------------------" />
		<logger level="INFO" doc:name="Logger" message="------------------------------------------------------------------------------------------" />
		<logger level="INFO" doc:name="Logger" message="Petición SOAP recibida desde Aplicación: #[groovy:misim.bus.common.util.XMLUtils.dom2xml(payload.soapMessage)]" />
		<logger level="INFO" doc:name="Logger" message="------------------------------------------------------------------------------------------" />
		<logger level="INFO" doc:name="Logger" message="------------------------------------------------------------------------------------------" />
		<logger level="INFO" doc:name="Logger" message="Inicio petición" />


		<!-- INVOCACIÓN DEL ENVIADOR -->
		<component doc:name="Invocar envio SMS AEAT">
			<spring-object bean="invocarEnvioGISS" />
		</component>

		<!-- ADAPTAR PETICIÓN -->
		
		<choice doc:name="Adaptar la petición"> 
			<when expression="#[message.outboundProperties['${ENVIAR_MENSAJE_PREMIUM_001}'] == 'S']">
				<processor-chain doc:name="Processor Chain">
					<set-variable variableName="${XSL_SHEET}" value="#[message.outboundProperties['${XSL_PETICION}']]" doc:name="Hoja XSL para transformar el payload" />
					
					<logger level="INFO" doc:name="Logger" message="Adaptación de la petición" />
					<logger level="INFO" doc:name="Logger" message="Antes del subfujo FLW-MSG-ADP de adaptación del protocolo el payload es : #[payload]" />
					<flow-ref name="FLW-RCP-ENV" doc:name="Adaptar protocolo hacia Emisor" />
					<logger level="INFO" doc:name="Logger" message="Después del subfujo FLW-MSG-ADP de adaptación del protocolo el payload es : #[payload]" />
				<component doc:name="Invocar envio SMS AEAT">
					<spring-object bean="invocarEnvioGISSResp" />
				</component>
				</processor-chain>
			</when>
 			<otherwise>
				<logger level="INFO" doc:name="Logger" message="No se requiere de adaptacion de la peticion" />
			</otherwise>
		</choice>

		<!-- INVOCACIÓN DEL ENVIADOR -->


		<set-property propertyName="${XML_RESPUESTA}" value="#[groovy:misim.bus.common.util.XMLUtils.dom2xml(payload.soapMessage)]"  doc:name="Property XML_RESPUESTA" />
		<logger level="INFO" doc:name="Logger" message="Petición procesada" />
		<logger level="INFO" doc:name="Logger" message="------------------------------------------------------------------------------------------" />
		<logger level="INFO" doc:name="Logger" message="------------------------------------------------------------------------------------------" />
		<logger level="INFO" doc:name="Logger" message="Respuesta SOAP devuelta: #[groovy:misim.bus.common.util.XMLUtils.dom2xml(payload.soapMessage)]" />
		<logger level="INFO" doc:name="Logger" message="------------------------------------------------------------------------------------------" />
		<logger level="INFO" doc:name="Logger" message="------------------------------------------------------------------------------------------" />



		<!-- GESTIÓN DE ERRORES -->



		<catch-exception-strategy doc:name="Catch Exception Strategy">

			<!-- GENERAR EL SOAP FAULT -->
			<component doc:name="Gestión de errores" >
				<spring-object bean="gestionErroresEnvioSimGiss" />
			</component>

			<set-property propertyName="${XML_FAULT}" value="#[groovy:misim.bus.common.util.XMLUtils.dom2xml(payload.soapMessage)]"  doc:name="Property XML_FAULT" />
				
			<!-- ACTUALIZACIÓN DE AUDITORÍA -->
        	<logger level="INFO" doc:name="Logger" message="Comprobar actualización de la auditoría" />
        	<choice doc:name="Encriptación del error al Consumidor">
				<when expression="#[message.outboundProperties['${ID_AUDITORIA}'] != '']">
					<!-- ENCRIPTACIÓN -->
					<logger level="INFO" doc:name="Logger" message="Comprobar si se requiere encriptación para la auditoría" />
					<processor-chain doc:name="Processor Chain">
						<logger level="INFO" message="Encriptación requerida" doc:name="Logger" />
						<component	doc:name="Encripta" >
							<spring-object bean="encriptar" />
						</component>
					</processor-chain>
					<processor-chain doc:name="Processor Chain">
						<logger level="INFO" doc:name="Logger" message="Actualización de la auditoría fault" />
						<component doc:name="Actualización de auditoría Fault">
							<spring-object bean="updateAuditFault" />
						</component>
					</processor-chain>
				</when>
				<otherwise>
					<logger level="INFO" message="Actualización de auditoría no requerida" doc:name="Logger" />
				</otherwise>
			</choice>	

			<logger level="INFO" doc:name="Logger" message="SOAP Fault procesado" />
			<logger level="INFO" doc:name="Logger" message="------------------------------------------------------------------------------------------" />
			<logger level="INFO" doc:name="Logger" message="------------------------------------------------------------------------------------------" />
			<logger level="INFO" doc:name="Logger" message="SOAP Fault devuelta: #[groovy:misim.bus.common.util.XMLUtils.dom2xml(payload.soapMessage)]" />
			<logger level="INFO" doc:name="Logger" message="------------------------------------------------------------------------------------------" />
			<logger level="INFO" doc:name="Logger" message="------------------------------------------------------------------------------------------" />

		</catch-exception-strategy>
	</flow>
</mule>
