misim-bus/misim-bus-core/src/main/app/recepcion-peticion.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="CE-3.5.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
	<spring:beans>
<!-- 		<spring:bean id="inicializar" name="inicializar" class="es.minhap.misim.components.Inicializar"/> -->
<!-- 		<spring:bean id="identificarAplicacion" name="identificarAplicacion" class="es.minhap.misim.components.IdentificarAplicacion"/> -->
<!-- 		<spring:bean id="identificarProducto" name="identificarProducto" class="es.minhap.misim.components.IdentificarProducto"/> -->
<!-- 		<spring:bean id="identificarProveedor" name="identificarProveedor" class="es.minhap.misim.components.IdentificarProveedor"/> -->
<!-- 		<spring:bean id="validarFirma" name="validarFirma" class="es.minhap.misim.components.ValidarFirma"/> -->
<!-- 		<spring:bean id="firmar" name="firmar" class="es.minhap.misim.components.Firmar"/> -->
<!-- 		<spring:bean id="encriptar" name="encriptar" class="es.minhap.misim.components.Encriptar"/> -->
<!-- 		<spring:bean id="encriptarProveedor" name="encriptarProveedor" class="es.minhap.misim.components.EncriptarProveedor"/> -->
<!-- 		<spring:bean id="desencriptar" name="desencriptar" class="es.minhap.misim.components.Desencriptar"/> -->
<!-- 		<spring:bean id="audit" name="audit" class="es.minhap.misim.components.Auditar"/> -->
<!-- 		<spring:bean id="updateAudit" name="updateAudit" class="es.minhap.misim.components.ActualizarAuditoria"/> -->
<!-- 		<spring:bean id="updateAuditFault" name="updateAuditFault" class="es.minhap.misim.components.ActualizarAuditoriaFault"/> -->
<!-- 		<spring:bean id="invocarEmisor" name="invocarEmisor" class="es.minhap.misim.components.InvocarEmisor"/> -->
<!--  		<spring:bean id="validarXSDPeticion" name="validarXSDPeticion" class="es.minhap.misim.components.ValidarXSDPeticion"/>  -->
<!--  		<spring:bean id="validarXSDRespuesta" name="validarXSDRespuesta" class="es.minhap.misim.components.ValidarXSDRespuesta"/> -->
<!-- 		<spring:bean id="gestionErrores" name="gestionErrores" class="es.minhap.misim.components.GestionErrores"/> -->
	</spring:beans>

	<flow name="FLW-RCP-PET" doc:name="FLW-RCP-PET" doc:description="Procesa una nueva Petición">
			
		<!-- RECEPCIÓN PETICIÓN -->
		<vm:inbound-endpoint exchange-pattern="request-response" path="recepcion-sincrona" responseTimeout="120000" doc:name="VM"/>
			
		<logger level="INFO" doc:name="Logger" message="------------------------------------------------------------------------------------------" />
		<logger level="INFO" doc:name="Logger" message="------------------------------------------------------------------------------------------" />
		<logger level="INFO" doc:name="Logger" message="Petición SOAP recibida: #[groovy:misim.bus.common.util.XMLUtils.dom2xml(payload.soapMessage)]" />
		<logger level="INFO" doc:name="Logger" message="------------------------------------------------------------------------------------------" />
		<logger level="INFO" doc:name="Logger" message="------------------------------------------------------------------------------------------" />
		<logger level="INFO" doc:name="Logger" message="Inicio petición" />
		
<!-- 		<choice doc:name="Protocolo de comunicación"> -->
<!-- 			<when expression="#[payload.soapAction == '${PETICION_SINCRONA}']"> -->
<!-- 				<processor-chain doc:name="Processor Chain"> -->
<!-- 					<logger level="INFO" doc:name="Logger" message="Antes del subfujo FLW-RCP-SIN de la petición sincronizada el payload es : #[payload]" /> -->
<!-- 					<set-variable variableName="${TIPO_COMUNICACION}" value="${SINCRONO}" doc:name="Tipo de comunicación síncrona" /> -->
<!-- 					<flow-ref name="FLW-RCP-SIN" doc:name="Procesa la petición síncrona" /> -->
<!-- 					<logger level="INFO" doc:name="Logger" message="Después del subfujo FLW-RCP-SIN de la petición sincronizada el payload es: #[payload]" /> -->
<!-- 				</processor-chain> -->
<!-- 			</when> -->
<!-- 			<otherwise> -->
<!-- 				<processor-chain doc:name="Processor Chain"> -->
<!-- 					<logger level="INFO" doc:name="Logger" message="Antes del subfujo FLW-RCP-ASI de la petición asíncrona el payload es : #[payload]" /> -->
<!-- 					<set-variable variableName="${TIPO_COMUNICACION}" value="${ASINCRONO}"  doc:name="Tipo de comunicación asíncrona" /> -->
<!-- 					<flow-ref name="FLW-RCP-ASI" doc:name="Procesa la petición asíncrona" /> -->
<!-- 					<logger level="INFO" doc:name="Logger" message="Después del subfujo FLW-RCP-ASI de la petición asíncrona el payload es : #[payload]" /> -->
<!-- 				</processor-chain> -->
<!-- 			</otherwise> -->
<!-- 		</choice> -->

		<!-- INICIALIZAR VARIABLES -->
<!-- 		<logger level="INFO" doc:name="Logger" message="Inicializar variables" /> -->
<!-- 		<component	doc:name="Inicializa variables" > -->
<!-- 			<spring-object bean="inicializar" /> -->
<!-- 		</component> -->

<!-- 		<set-property propertyName="${XML_PETICION}" value="#[groovy:misim.bus.common.util.XMLUtils.dom2xml(payload.soapMessage)]"  doc:name="Property XML_PETICION" /> -->
		
		<!-- INDENTIFICAR APLICACION -->
<!-- 		<logger level="INFO" doc:name="Logger" message="Indentificación de la aplicacion" /> -->
<!-- 		<component	doc:name="Recupera la configuración del cliente" > -->
<!-- 			<spring-object bean="identificarAplicacion" /> -->
<!-- 		</component> -->
		
		<!-- LOGGER APLICACION -->
<!-- 		<logger level="INFO" doc:name="Logger" message="Endpoint #[message.outboundProperties['${ID_APLICACION}']]" /> -->
			
		<!-- INDENTIFICAR DEL PRODUCTO -->
<!-- 		<logger level="INFO" doc:name="Logger" message="Indentificación del producto" /> -->
<!-- 		<component	doc:name="Recupera la configuración del producto" > -->
<!-- 			<spring-object bean="identificarProducto" /> -->
<!-- 		</component> -->
		
		<!-- LOGGER PRODUCTO -->
<!-- 		<logger level="INFO" doc:name="Logger" message="Endpoint #[message.outboundProperties['${ID_PRODUCTO}']]" /> -->
		
		<!-- INDENTIFICAR DEL PROVEEDOR -->
<!-- 		<logger level="INFO" doc:name="Logger" message="Indentificación del proveedor" /> -->
<!-- 		<component	doc:name="Recupera la configuración del proveedor" > -->
<!-- 			<spring-object bean="identificarProveedor" /> -->
<!-- 		</component> -->

		<!-- LOGGER PROVEEDOR -->
<!-- 		<logger level="INFO" doc:name="Logger" message="Endpoint #[message.outboundProperties['${ID_PROVEEDOR}']]" /> -->
			
		<!-- ENCRIPTACIÓN -->
<!-- 		<logger level="INFO" doc:name="Logger" message="Encriptación para la auditoría" /> -->
<!-- 		<processor-chain doc:name="Processor Chain"> -->
<!-- 			<component	doc:name="Encripta" > -->
<!-- 				<spring-object bean="encriptar" /> -->
<!-- 			</component> -->
<!-- 		</processor-chain> -->
		
		<!-- AUDITORÍA -->
<!-- 		<logger level="INFO" doc:name="Logger" message="Auditoría de la petición recibida" /> -->
<!-- 		<component	doc:name="Audita" > -->
<!-- 			<spring-object bean="audit" /> -->
<!-- 		</component> -->
		
		<!-- RECUPERACION DEL BACKUP-->
<!-- 		<set-payload value="#[flowVars['${XML_PETICION}']]" doc:name="Vuelta a la peticion original" /> -->
		
		<!-- VALIDAR XSD -->
<!-- 		<logger level="INFO" doc:name="Logger" message="Validar XSD" /> -->
<!-- 		<component	doc:name="Validar XSD" > -->
<!-- 			<spring-object bean="validarXSDPeticion" /> -->
<!-- 		</component> -->
		
		<!-- ADAPTAR PETICIÓN -->
<!-- 		<processor-chain> -->
<!-- 			<set-variable variableName="${XSL_SHEET}" value="#[message.outboundProperties['${XSL_PETICION}']]" doc:name="Hoja XSL para transformar el payload" /> -->
			
<!-- 			<logger level="INFO" doc:name="Logger" message="Transformación del mensaje de la petición" /> -->
<!-- 			<logger level="INFO" doc:name="Logger" message="Antes del subfujo FLW-MSG-ADP de adaptación del protocolo el payload es : #[payload]" /> -->
			
<!-- 			<flow-ref name="FLW-MSG-ADP" doc:name="Adaptar protocolo hacia Emisor" /> -->
			
<!-- 			<logger level="INFO" doc:name="Logger" message="Flujo de ida adaptado" /> -->
<!-- 			<logger level="INFO" doc:name="Logger" message="Después del subfujo FLW-MSG-ADP de adaptación del protocolo el payload es : #[payload]" /> -->
<!-- 		</processor-chain> -->
		
		<!-- SECURIZACIÓN PETICIÓN-->
<!-- 		<logger level="INFO" doc:name="Logger" message="Preparación de la securización" /> -->
<!-- 		<logger level="INFO" doc:name="Logger" message="Antes del subfujo FLW-SEG-PET de securización el payload es : #[payload]" /> -->
<!-- 		<flow-ref name="FLW-SEG-PET" doc:name="Securizar petición" /> -->
<!-- 		<logger level="INFO" doc:name="Logger" message="Fludo de ida securizado" /> -->
<!-- 		<logger level="INFO" doc:name="Logger" message="Después del subfujo FLW-SEG-PET de securización el payload es : #[payload]" /> -->
		
		<!-- INVOCACIÓN AL EMISOR -->
<!-- 		<logger level="INFO" doc:name="Logger" message="Invocación del Emisor" /> -->
<!-- 		<logger level="INFO" doc:name="Logger" message="Endpoint #[message.outboundProperties['${ENDPOINT_URL}']]" /> -->
<!-- 		<component	doc:name="Invocar Emisor" > -->
<!-- 			<spring-object bean="invocarEmisor" /> -->
<!-- 		</component> -->
<!-- 		<logger level="INFO" doc:name="Logger" message="Emisor Invocado" /> -->
		
		<!-- COMPROBAR SOAP_FAULT -->
<!-- 		<logger level="INFO" doc:name="Logger" message="Comprobar SOAP Fault" /> -->
<!-- 		<choice doc:name="Respuesta o SOAP Fault"> -->
<!-- 			<when expression="#[message.outboundProperties['${SOAP_FAULT}']]"> -->
<!-- 				<processor-chain> -->
<!-- 					<logger level="INFO" doc:name="Logger" message="SOAP Fault recibido" /> -->
<!-- 					<set-variable variableName="${XSL_SHEET}" value="#[message.outboundProperties['${XSL_SOAP_FAULT}']]" doc:name="Hoja XSL para transformar el error SOAP" /> -->
<!-- 				</processor-chain> -->
<!-- 			</when> -->
<!-- 			<otherwise> -->
<!-- 				<processor-chain> -->
<!-- 					<logger level="INFO" doc:name="Logger" message="Respuesta recibida" /> -->
<!-- 					<set-variable variableName="${XSL_SHEET}" value="#[message.outboundProperties['${XSL_RESPUESTA}']]" doc:name="Hoja XSL para transformar la respuesta" /> -->
<!-- 				</processor-chain> -->
<!-- 			</otherwise> -->
<!-- 		</choice> -->
		
		<!-- DES-SECURIZAR RESPUESTA -->
<!-- 		<processor-chain> -->
<!-- 			<logger level="INFO" doc:name="Logger" message="Preparación de la dessecurización" /> -->
<!-- 			<logger level="INFO" doc:name="Logger" message="Antes del subfujo FLW-SEG-RES de dessecurización el payload es : #[payload]" /> -->
<!-- 			<flow-ref name="FLW-SEG-RES" doc:name="Securizar respuesta" /> -->
<!-- 			<logger level="INFO" doc:name="Logger" message="Fludo de ida securizado" /> -->
<!-- 			<logger level="INFO" doc:name="Logger" message="Después del subfujo FLW-SEG-PET de securización el payload es : #[payload]" /> -->
<!-- 		</processor-chain> -->
		
		<!-- VALIDAR XSD -->
<!-- 		<logger level="INFO" doc:name="Logger" message="Validar XSD" /> -->
<!-- 		<component	doc:name="Validar XSD" > -->
<!-- 			<spring-object bean="validarXSDRespuesta" /> -->
<!-- 		</component> -->
		
		<!-- ADAPTAR PROTOCOLO -->
<!-- 		<processor-chain> -->
<!-- 			<logger level="INFO" doc:name="Logger" message="Transformación del mensaje recibido" /> -->
<!-- 			<logger level="INFO" doc:name="Logger" message="Antes del subfujo FLW-MSG-ADP de adaptación del protocolo el payload es : #[payload]" /> -->
			
<!-- 			<flow-ref name="FLW-MSG-ADP" doc:name="Adaptar protocolo hacia misim" /> -->
			
<!-- 			<logger level="INFO" doc:name="Logger" message="Flujo de vuelta adaptado" /> -->
<!-- 			<logger level="INFO" doc:name="Logger" message="Después del subfujo FLW-MSG-ADP de adaptación del protocolo el payload es : #[payload]" /> -->
<!-- 		</processor-chain> -->
		
<!-- 		<set-property propertyName="${XML_RESPUESTA}" value="#[groovy:misim.bus.common.util.XMLUtils.dom2xml(payload.soapMessage)]"  doc:name="Property XML_RESPUESTA" /> -->
		
		<!-- ENCRIPTACIÓN -->
<!-- 		<logger level="INFO" doc:name="Logger" message="Comprobar si se requiere encriptación para la auditoría" /> -->
<!-- 		<processor-chain doc:name="Processor Chain"> -->
<!-- 			<logger level="INFO" message="Encriptación requerida" doc:name="Logger" /> -->
<!-- 			<component	doc:name="Encripta" > -->
<!-- 				<spring-object bean="encriptar" /> -->
<!-- 			</component> -->
<!-- 		</processor-chain> -->
		
		<!-- ACTUALIZACIÓN DE AUDITORÍA -->
<!-- 		<logger level="INFO" doc:name="Logger" message="Actualización de la auditoría" /> -->
<!-- 		<component doc:name="Actualizacón de Auditoría"> -->
<!-- 			<spring-object bean="updateAudit" /> -->
<!-- 		</component> -->
		
		<!-- RECUPERACION DEL BACKUP -->
<!-- 		<set-payload value="#[flowVars['${XML_RESPUESTA}']]" doc:name="Vuelta a la peticion original" /> -->

		<logger level="INFO" doc:name="Logger" message="Petición procesada" />
		<logger level="INFO" doc:name="Logger" message="------------------------------------------------------------------------------------------" />
		<logger level="INFO" doc:name="Logger" message="------------------------------------------------------------------------------------------" />
		<logger level="INFO" doc:name="Logger" message="Respuesta SOAP devuelta: #[groovy:misim.bus.common.util.XMLUtils.dom2xml(payload.soapMessage)]" />
		<logger level="INFO" doc:name="Logger" message="------------------------------------------------------------------------------------------" />
		<logger level="INFO" doc:name="Logger" message="------------------------------------------------------------------------------------------" />
        
        
        
        <!-- GESTIÓN DE ERRORES -->
        
        
        
        <catch-exception-strategy doc:name="Catch Exception Strategy">
        	
        	<!-- GENERAR EL SOAP FAULT -->
<!--         	<component	doc:name="Gestión de errores" > -->
<!-- 				<spring-object bean="gestionErrores" /> -->
<!-- 			</component> -->
			
<!-- 			<set-property propertyName="${XML_FAULT}" value="#[groovy:misim.bus.common.util.XMLUtils.dom2xml(payload.soapMessage)]"  doc:name="Property XML_FAULT" /> -->
					
			<!-- ENCRIPTACIÓN -->
<!-- 			<logger level="INFO" doc:name="Logger" message="Comprobar si se requiere encriptación para la auditoría" /> -->
<!-- 			<processor-chain doc:name="Processor Chain"> -->
<!-- 				<logger level="INFO" message="Encriptación requerida" doc:name="Logger" /> -->
<!-- 				<component	doc:name="Encripta" > -->
<!-- 					<spring-object bean="encriptar" /> -->
<!-- 				</component> -->
<!-- 			</processor-chain> -->
				
			<!-- ACTUALIZACIÓN DE AUDITORÍA -->
<!--         	<logger level="INFO" doc:name="Logger" message="Comprobar actualización de la auditoría" /> -->
<!--         	<choice doc:name="Encriptación del error al Consumidor"> -->
<!-- 				<when expression="#[message.outboundProperties['${ID_AUDITORIA}'] != '']"> -->
<!-- 					<processor-chain doc:name="Processor Chain"> -->
<!-- 						<logger level="INFO" doc:name="Logger" message="Actualización de la auditoría fault" /> -->
<!-- 						<component doc:name="Actualización de auditoría Fault"> -->
<!-- 							<spring-object bean="updateAuditFault" /> -->
<!-- 						</component> -->
<!-- 					</processor-chain> -->
<!-- 				</when> -->
<!-- 				<otherwise> -->
<!-- 					<logger level="INFO" message="Actualización de auditoría no requerida" doc:name="Logger" /> -->
<!-- 				</otherwise> -->
<!-- 			</choice>	 -->
			
			<!-- RECUPERACION DEL BACKUP -->
<!-- 			<set-payload value="#[flowVars['${XML_FAULT}']]" doc:name="Vuelta a la peticion original" /> -->
	
			<logger level="INFO" doc:name="Logger" message="SOAP Fault procesado" />
			<logger level="INFO" doc:name="Logger" message="------------------------------------------------------------------------------------------" />
			<logger level="INFO" doc:name="Logger" message="------------------------------------------------------------------------------------------" />
			<logger level="INFO" doc:name="Logger" message="SOAP Fault devuelta: #[groovy:misim.bus.common.util.XMLUtils.dom2xml(payload.soapMessage)]" />
			<logger level="INFO" doc:name="Logger" message="------------------------------------------------------------------------------------------" />
			<logger level="INFO" doc:name="Logger" message="------------------------------------------------------------------------------------------" />
		
        </catch-exception-strategy>
	</flow>
</mule>
