misim-bus/misim-bus-core/src/main/app/recepcion-WSS-sim.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="CE-3.5.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
	<spring:beans>
		
		<spring:bean id="inicializarClientePBK" name="inicializarClientePBK" class="es.minhap.misim.components.InicializarAplicacionCliente"/>
		
		<spring:bean id="identificarTipoPeticionPBK" name="identificarTipoPeticionPBK" class="es.minhap.misim.components.IdentificarTipoPeticion" />
		
		<spring:bean id="invocarEnvioEmailPBK" name="invocarEnvioEmailPBK" class="es.minhap.misim.components.InvocarEnvioEmailPassbook" />
		<spring:bean id="invocarEnvioSMSPBK" name="invocarEnvioSMSPBK" class="es.minhap.misim.components.InvocarEnvioSMS" />
		<spring:bean id="invocarEnvioPushPBK" name="invocarEnvioPushPBK" 	class="es.minhap.misim.components.InvocarEnvioPush" />
		<spring:bean id="invocarEnvioWebPushPBK" name="invocarEnvioWebPushPBK" 	class="es.minhap.misim.components.InvocarEnvioWebPush" />
		
		<spring:bean id="invocarConsultaEstadoPBK" name="invocarConsultaEstadoPBK" class="es.minhap.misim.components.InvocarConsultaEstado" />
		<spring:bean id="invocarConsultaHistorialPBK" name="invocarConsultaHistorialPBK" class="es.minhap.misim.components.InvocarConsultaHistorial" />
		
		<spring:bean id="invocarAnularMensajePBK" name="invocarAnularMensajePBK" class="es.minhap.misim.components.InvocarAnularMensaje" />
		<spring:bean id="invocarAnularLotePBK" name="invocarAnularLotePBK" class="es.minhap.misim.components.InvocarAnularLote" />
		<spring:bean id="invocarReenviarMensajePBK" name="invocarReenviarMensajePBK" class="es.minhap.misim.components.InvocarReenviarMensaje" />
		<spring:bean id="invocarReenviarLotePBK" name="invocarReenviarLotePBK" class="es.minhap.misim.components.InvocarReenviarLote" />
		
		
		<spring:bean id="gestionErroresAplicacionesPBK" name="gestionErroresAplicacionesPBK" class="es.minhap.misim.components.GestionErroresAplicaciones"/>
	
	</spring:beans>

	<!-- DESDE LAS APLICACONES A MISIM (CON LA LIBRERIA PARA INTRODUCIR BBDD) -->

	<flow name="FLW-RCP-PBK-SIM" doc:name="FLW-RCP-PBK-SIM" doc:description="Procesa una nueva Peticion">

		<!-- RECEPCION PETICION -->
		<vm:inbound-endpoint exchange-pattern="request-response" path="recepcion-WSS-sim" responseTimeout="120000" doc:name="VM" />

		<logger level="INFO" doc:name="Logger" message="[FLOW - RecepcionPassbookSIM] - Inicio peticion" />

		<!-- INICIALIZAR VARIABLES -->
		<logger level="INFO" doc:name="Logger" message="[FLOW - RecepcionPassbookSIM] - Inicializar variables" />
		<component doc:name="Inicializa variables">
			<spring-object bean="inicializarClientePBK" />
		</component>



		<!--  WS SECURITY -->
		<processor-chain>
			<logger level="INFO" doc:name="Logger" message="[FLOW - EnvioPeticion] - Preparacion de la dessecurizacion" />
			<logger level="INFO" doc:name="Logger" message="[FLOW - EnvioPeticion] - Antes del subfujo FLW-SEG-RES de dessecurizacion el payload es : #[payload]" />
			<flow-ref name="FLW-SEG-RES" doc:name="Securizar respuesta" />
			<logger level="INFO" doc:name="Logger" message="[FLOW - EnvioPeticion] - Flujo de ida securizado" />
			<logger level="INFO" doc:name="Logger" message="[FLOW - EnvioPeticion] - Despues del subfujo FLW-SEG-PET de securizacion el payload es : #[payload]" />
		</processor-chain>
		

		<set-property propertyName="${XML_PETICION}" value="#[groovy:misim.bus.common.util.XMLUtils.dom2xml(payload.soapMessage)]"	doc:name="Property XML_PETICION" />

		<!-- INDENTIFICAR TIPO DE PETICION -->
		<logger level="INFO" doc:name="Logger" message="[FLOW - RecepcionPassbookSIM] - Identificacion de la peticion" />
		<component doc:name="Recupera la informacion del tipo de peticion">
			<spring-object bean="identificarTipoPeticionPBK" />
		</component>
		
		<!-- LOGGER TIPO PETICION -->
		<logger level="INFO" doc:name="Logger" message="TIPO PETICION #[message.outboundProperties['${TIPO_PETICION}']]" />

		<!-- ENCRIPTACION -->
		<logger level="INFO" doc:name="Logger" message="[FLOW - RecepcionPassbookSIM] - Encriptacion para la auditoria" />
		<processor-chain doc:name="Processor Chain">
			<component	doc:name="Encripta" >
				<spring-object bean="encriptar" />
			</component>
		</processor-chain>
		
		<!-- AUDITORIA -->
		<logger level="INFO" doc:name="Logger" message="[FLOW - RecepcionPassbookSIM] - Auditoria de la peticion recibida" /> 
			<component doc:name="Audita" >
			<spring-object bean="audit" />
		</component>
		
		<!-- ADAPTAR PROTOCOLO -->
		<choice doc:name="Adaptar la peticion"> 
			<when expression="#[message.outboundProperties['${TRANSFORMACION_PETICION}'] == 'S']">
				<processor-chain>
					<set-variable variableName="${XSL_SHEET}" value="#[message.outboundProperties['${XSL_PETICION}']]" doc:name="Hoja XSL para transformar el payload" />
					
					<logger level="INFO" doc:name="Logger" message="[FLOW - RecepcionPassbookSIM] - Adaptacion de la peticion" />
					
					<logger level="INFO" doc:name="Logger" message="[FLOW - RecepcionPassbookSIM] - Antes del subfujo FLW-MSG-ADP de adaptacion del protocolo el payload es : #[payload]" />
					<flow-ref name="FLW-MSG-ADP" doc:name="Adaptar protocolo hacia misim" />
					<logger level="INFO" doc:name="Logger" message="[FLOW - RecepcionPassbookSIM] - Despues del subfujo FLW-MSG-ADP de adaptacion del protocolo el payload es : #[payload]" />
				</processor-chain>
			</when>
			<otherwise>
				<logger level="INFO" doc:name="Logger" message="[FLOW - RecepcionPassbookSIM] - No se requiere de adaptacion de la peticion" />
			</otherwise>
		</choice>

		<!-- INVOCACION DEL ENVIADOR -->
		<logger level="INFO" doc:name="Logger" message="[FLOW - RecepcionPassbookSIM] - Invocacion del enviador" />
		<choice doc:name="Tipo de ennvio">

			<when expression="#[message.outboundProperties['${TIPO_PETICION}'] == '${enviarEmail}']">
				<processor-chain doc:name="Processor Chain">
					<logger level="INFO" doc:name="Logger" message="[FLOW - RecepcionPassbookSIM] - Enviar MAIL" />
					<component doc:name="Invocar envio Email">
						<spring-object bean="invocarEnvioEmailPBK" />
					</component>
				</processor-chain>
			</when>
			<when expression="#[message.outboundProperties['${TIPO_PETICION}'] == '${enviarSMS}']">
				<processor-chain doc:name="Processor Chain">
					<logger level="INFO" doc:name="Logger" message="[FLOW - RecepcionPassbookSIM] - Enviar SMS" />
					<component doc:name="Invocar envio SMS">
						<spring-object bean="invocarEnvioSMSPBK" />
					</component>
				</processor-chain>
			</when>
			<when expression="#[message.outboundProperties['${TIPO_PETICION}'] == '${enviarPUSH}']">
				<processor-chain doc:name="Processor Chain">
					<logger level="INFO" doc:name="Logger" message="[FLOW - RecepcionPassbookSIM] - Enviar PUSH" />
					<component doc:name="Invocar envio PUSH">
						<spring-object bean="invocarEnvioPushPBK" />
					</component>
				</processor-chain>
			</when>
			<when expression="#[message.outboundProperties['${TIPO_PETICION}'] == '${enviarWebPUSH}']">
				<processor-chain doc:name="Processor Chain">
					<logger level="INFO" doc:name="Logger" message="[FLOW - RecepcionSIM] - Enviar WEB PUSH" />
					<component doc:name="Invocar envio Web PUSH">
						<spring-object bean="invocarEnvioWebPush" />
					</component>
				</processor-chain>
			</when>
			<when expression="#[message.outboundProperties['${TIPO_PETICION}'] == '${consultarEstado}']">
				<processor-chain doc:name="Processor Chain">
					<logger level="INFO" doc:name="Logger" message="[FLOW - RecepcionPassbookSIM] - Consultar estado" />
					<component doc:name="Invocar consulta estado">
						<spring-object bean="invocarConsultaEstadoPBK" />
					</component>
				</processor-chain>
			</when>
			<when expression="#[message.outboundProperties['${TIPO_PETICION}'] == '${consultarHistorial}']">
				<processor-chain doc:name="Processor Chain">
					<logger level="INFO" doc:name="Logger" message="[FLOW - RecepcionPassbookSIM] - Consultar historial" />
					<component doc:name="Invocar consulta estado">
						<spring-object bean="invocarConsultaHistorialPBK" />
					</component>
				</processor-chain>
			</when>
			<when expression="#[message.outboundProperties['${TIPO_PETICION}'] == '${anularMensaje}']">
				<processor-chain doc:name="Processor Chain">
					<logger level="INFO" doc:name="Logger" message="[FLOW - RecepcionPassbookSIM] - Anular mensaje" />
					<component doc:name="Invocar consulta estado">
						<spring-object bean="invocarAnularMensajePBK" />
					</component>
				</processor-chain>
			</when>
			<when expression="#[message.outboundProperties['${TIPO_PETICION}'] == '${anularLote}']">
				<processor-chain doc:name="Processor Chain">
					<logger level="INFO" doc:name="Logger" message="[FLOW - RecepcionPassbookSIM] - Anular lote" />
					<component doc:name="Invocar consulta estado">
						<spring-object bean="invocarAnularLotePBK" />
					</component>
				</processor-chain>
			</when>
			<when expression="#[message.outboundProperties['${TIPO_PETICION}'] == '${reenviarMensaje}']">
				<processor-chain doc:name="Processor Chain">
					<logger level="INFO" doc:name="Logger" message="[FLOW - RecepcionPassbookSIM] - Reenviar mensaje" />
					<component doc:name="Invocar consulta estado">
						<spring-object bean="invocarReenviarMensajePBK" />
					</component>
				</processor-chain>
			</when>
			<when expression="#[message.outboundProperties['${TIPO_PETICION}'] == '${reenviarLote}']">
				<processor-chain doc:name="Processor Chain">
					<logger level="INFO" doc:name="Logger" message="[FLOW - RecepcionPassbookSIM] - Reenviar lote" />
					<component doc:name="Invocar consulta estado">
						<spring-object bean="invocarReenviarLotePBK" />
					</component>
				</processor-chain>
			</when>
			<otherwise>
				<processor-chain doc:name="Processor Chain">
					<logger level="INFO" doc:name="Logger" message="[FLOW - RecepcionPassbookSIM] - Ninguna operacion disponible" />
				</processor-chain>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" message="[FLOW - RecepcionPassbookSIM] - Operacion invocada #[payload]" />

		<!-- ADAPTAR PROTOCOLO -->		
		<choice doc:name="Adaptar la respuesta"> 
			<when expression="#[message.outboundProperties['${TRANSFORMACION_RESPUESTA}'] == 'S']">
				<processor-chain>		
					<set-variable variableName="${XSL_SHEET}" value="#[message.outboundProperties['${XSL_RESPUESTA}']]" doc:name="Hoja XSL para transformar la respuesta" />	
							
					<logger level="INFO" doc:name="Logger" message="[FLOW - RecepcionPassbookSIM] - Adaptacion de la respuesta" />
					<logger level="INFO" doc:name="Logger" message="[FLOW - RecepcionPassbookSIM] - Antes del subfujo FLW-MSG-ADP de adaptacion del protocolo el payload es : #[payload]" />
					<flow-ref name="FLW-MSG-ADP" doc:name="Adaptar protocolo hacia Aplicacion Cliente" />
					<logger level="INFO" doc:name="Logger" message="[FLOW - RecepcionPassbookSIM] - Despues del subfujo FLW-MSG-ADP de adaptacion del protocolo el payload es : #[payload]" />
				</processor-chain>
			</when>
			<otherwise>
				<logger level="INFO" doc:name="Logger" message="[FLOW - RecepcionPassbookSIM] - No se requiere de adaptacion de la respuesta" />
			</otherwise>
		</choice>
		
		<set-property propertyName="${XML_RESPUESTA}" value="#[groovy:misim.bus.common.util.XMLUtils.dom2xml(payload.soapMessage)]"  doc:name="Property XML_RESPUESTA" />
		
		<!-- ENCRIPTACION -->
		<logger level="INFO" doc:name="Logger" message="[FLOW - RecepcionPassbookSIM] - Comprobar si se requiere encriptacion para la auditoria" />
		<processor-chain doc:name="Processor Chain">
			<logger level="INFO" message="[FLOW - RecepcionPassbookSIM] - Encriptacion requerida" doc:name="Logger" />
			<component	doc:name="Encripta" >
				<spring-object bean="encriptar" />
			</component>
		</processor-chain>
		
		<!-- ACTUALIZACION DE AUDITORIA -->
		<logger level="INFO" doc:name="Logger" message="[FLOW - RecepcionPassbookSIM] - Actualizacion de la auditoria" />
		<component doc:name="Actualizacon de Auditoria">
			<spring-object bean="updateAudit" />
		</component>

		<logger level="INFO" doc:name="Logger" message="[FLOW - RecepcionPassbookSIM] - Peticion procesada" />

		<!-- GESTION DE ERRORES -->

		<catch-exception-strategy doc:name="Catch Exception Strategy">

			<!-- GENERAR EL SOAP FAULT -->
			<component doc:name="Gestion de errores" >
				<spring-object bean="gestionErroresAplicacionesPBK" />
			</component>

			<set-property propertyName="${XML_FAULT}" value="#[groovy:misim.bus.common.util.XMLUtils.dom2xml(payload.soapMessage)]"  doc:name="Property XML_FAULT" />
				
			<!-- ACTUALIZACION DE AUDITORIA -->
        	<logger level="INFO" doc:name="Logger" message="[FLOW - RecepcionPassbookSIM] - Comprobar actualizacion de la auditoria" />
        	<choice doc:name="Encriptacion del error al Consumidor">
				<when expression="#[message.outboundProperties['${ID_AUDITORIA}'] != '']">
					<!-- ENCRIPTACION -->
					<logger level="INFO" doc:name="Logger" message="[FLOW - RecepcionPassbookSIM] - Comprobar si se requiere encriptacion para la auditoria" />
					<processor-chain doc:name="Processor Chain">
						<logger level="INFO" message="[FLOW - RecepcionPassbookSIM] - Encriptacion requerida" doc:name="Logger" />
						<component	doc:name="Encripta" >
							<spring-object bean="encriptar" />
						</component>
					</processor-chain>
					<processor-chain doc:name="Processor Chain">
						<logger level="INFO" doc:name="Logger" message="[FLOW - RecepcionPassbookSIM] - Actualizacion de la auditoria fault" />
						<component doc:name="Actualizacion de auditoria Fault">
							<spring-object bean="updateAuditFault" />
						</component>
					</processor-chain>
				</when>
				<otherwise>
					<logger level="INFO" message="[FLOW - RecepcionPassbookSIM] - Actualizacion de auditoria no requerida" doc:name="Logger" />
				</otherwise>
			</choice>	

			<logger level="INFO" doc:name="Logger" message="[FLOW - RecepcionPassbookSIM] - SOAP Fault procesado" />

		</catch-exception-strategy>
	</flow>
</mule>
