misim-bus/misim-bus-core/src/main/app/recepcion-bt.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="CE-3.5.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
	<spring:beans>
		<spring:bean id="inicializarBt" name="inicializarBt" class="es.minhap.misim.components.InicializarBt"/>
		<spring:bean id="gestionErroresBt" name="gestionErroresBt" class="es.minhap.misim.components.GestionErroresBt"/>
	</spring:beans>

	<flow name="FLW-RCP-BT" doc:name="FLW-RCP-BT" doc:description="Procesa una nueva Peticion">
			
		<!-- RECEPCION PETICION -->
		<vm:inbound-endpoint exchange-pattern="request-response" path="recepcion-bt" responseTimeout="120000" doc:name="VM"/>
			
		<logger level="INFO" doc:name="Logger" message="[FLOW - RecepcionBT] - Inicio peticion" />

		<!-- INICIALIZAR VARIABLES -->
		<logger level="INFO" doc:name="Logger" message="[FLOW - RecepcionBT] - Inicializar variables" />
		<component	doc:name="Inicializa variables" >
			<spring-object bean="inicializarBt" />
		</component>

		<set-property propertyName="${XML_PETICION}" value="#[groovy:misim.bus.common.util.XMLUtils.dom2xml(payload.soapMessage)]"  doc:name="Property XML_PETICION" />
			
		<!-- ENCRIPTACION -->
		<logger level="INFO" doc:name="Logger" message="[FLOW - RecepcionBT] - Encriptacion para la auditoria" />
		<processor-chain doc:name="Processor Chain">
			<component	doc:name="Encripta" >
				<spring-object bean="encriptar" />
			</component>
		</processor-chain>
		
		<!-- AUDITORIA -->
		<logger level="INFO" doc:name="Logger" message="[FLOW - RecepcionBT] - Auditoria de la peticion recibida" />
		<component	doc:name="Audita" >
			<spring-object bean="audit" />
		</component>
		
		<!-- ADAPTAR PETICION -->
		<processor-chain>
			<set-variable variableName="${XSL_SHEET}" value="#[message.outboundProperties['${XSL_PETICION}']]" doc:name="Hoja XSL para transformar el payload" />
			
			<logger level="INFO" doc:name="Logger" message="[FLOW - RecepcionBT] - Transformacion del mensaje de la peticion" />
			<logger level="INFO" doc:name="Logger" message="[FLOW - RecepcionBT] - Antes del subfujo FLW-MSG-ADP de adaptacion del protocolo el payload es : #[payload]" />
			
			<flow-ref name="FLW-MSG-ADP" doc:name="Adaptar protocolo hacia Emisor" />
			
			<logger level="INFO" doc:name="Logger" message="[FLOW - RecepcionBT] - Flujo de ida adaptado" />
			<logger level="INFO" doc:name="Logger" message="[FLOW - RecepcionBT] - Despues del subfujo FLW-MSG-ADP de adaptacion del protocolo el payload es : #[payload]" />
		</processor-chain>
		
		<!-- INCLUIR USUARIO -->
		<logger level="INFO" doc:name="Logger" message="[FLOW - RecepcionBT] - Incluir usuario"/>
		<component	doc:name="Incluir usuario" >
			<spring-object bean="incluirUsuario" />
		</component>
		
		<!-- INVOCACION AL EMISOR -->
		<logger level="INFO" doc:name="Logger" message="[FLOW - RecepcionBT] - Operation #[payload.soapAction]" />
		<component	doc:name="Recepcion telefonica" >
			<spring-object bean="invocarRecepcionSMS" />
		</component>
		<logger level="INFO" doc:name="Logger" message="[FLOW - RecepcionBT] - Operacion invocada #[payload]" />
		
		
		
		<!-- ADAPTAR PROTOCOLO -->		
		<choice doc:name="Adaptar la respuesta"> 
			<when expression="#[message.outboundProperties['${TRANSFORMACION_RESPUESTA}'] == 'S']">
				<processor-chain>	
					<set-variable variableName="${XSL_SHEET}" value="#[message.outboundProperties['${XSL_RESPUESTA}']]" doc:name="Hoja XSL para transformar la respuesta" />	
								
					<logger level="INFO" doc:name="Logger" message="[FLOW - RecepcionBT] - Adaptacion de la respuesta" />
					<logger level="INFO" doc:name="Logger" message="[FLOW - RecepcionBT] - Antes del subfujo FLW-MSG-ADP de adaptacion del protocolo el payload es : #[payload]" />
					<flow-ref name="FLW-MSG-ADP" doc:name="Adaptar protocolo hacia Telefonica" />
					<logger level="INFO" doc:name="Logger" message="[FLOW - RecepcionBT] - Despues del subfujo FLW-MSG-ADP de adaptacion del protocolo el payload es : #[payload]" />
				</processor-chain>
			</when>
			<otherwise>
				<logger level="INFO" doc:name="Logger" message="[FLOW - RecepcionBT] - No se requiere de adaptacion de la respuesta" />
			</otherwise>
		</choice>
		
		<!-- INDENTIFICAR INCLUIR ID SMS -->
		<logger level="INFO" doc:name="Logger" message="[FLOW - RecepcionBT] - Identificacion propiedades mensaje" />
		<component	doc:name="incluir id mensaje" >
			<spring-object bean="incluirIdentificadorMensajeOperador" />
		</component>
		
		<set-property propertyName="${XML_RESPUESTA}" value="#[groovy:misim.bus.common.util.XMLUtils.dom2xml(payload.soapMessage)]"  doc:name="Property XML_RESPUESTA" />
		
		<!-- ENCRIPTACION -->
		<logger level="INFO" doc:name="Logger" message="[FLOW - RecepcionBT] - Comprobar si se requiere encriptacion para la auditoria" />
		<processor-chain doc:name="Processor Chain">
			<logger level="INFO" message="[FLOW - RecepcionBT] - Encriptacion requerida" doc:name="Logger" />
			<component	doc:name="Encripta" >
				<spring-object bean="encriptar" />
			</component>
		</processor-chain>
		
		<!-- ACTUALIZACION DE AUDITORIA -->
		<logger level="INFO" doc:name="Logger" message="[FLOW - RecepcionBT] - Actualizacion de la auditoria" />
		<component doc:name="Actualizacon de Auditoria">
			<spring-object bean="updateAudit" />
		</component>

		<logger level="INFO" doc:name="Logger" message="[FLOW - RecepcionBT] - Peticion procesada" />
        
        <!-- GESTION DE ERRORES -->
        
        <catch-exception-strategy doc:name="Catch Exception Strategy">
        	
        	<!-- GENERAR EL SOAP FAULT -->
        	<component	doc:name="Gestion de errores" >
				<spring-object bean="gestionErroresBt" />
			</component>
			
			<set-property propertyName="${XML_FAULT}" value="#[groovy:misim.bus.common.util.XMLUtils.dom2xml(payload.soapMessage)]"  doc:name="Property XML_FAULT" />
					
			
				
			<!-- ACTUALIZACION DE AUDITORIA -->
        	<logger level="INFO" doc:name="Logger" message="[FLOW - RecepcionBT] - Comprobar actualizacion de la auditoria" />
        	<choice doc:name="Encriptacion del error al Consumidor">
				<when expression="#[message.outboundProperties['${ID_AUDITORIA}'] != '']">
					<!-- ENCRIPTACION -->
					<logger level="INFO" doc:name="Logger" message="[FLOW - RecepcionBT] - Comprobar si se requiere encriptacion para la auditoria" />
					<processor-chain doc:name="Processor Chain">
						<logger level="INFO" message="[FLOW - RecepcionBT] - Encriptacion requerida" doc:name="Logger" />
						<component	doc:name="Encripta" >
							<spring-object bean="encriptar" />
						</component>
					</processor-chain>
					<processor-chain doc:name="Processor Chain">
						<logger level="INFO" doc:name="Logger" message="[FLOW - RecepcionBT] - Actualizacion de la auditoria fault" />
						<component doc:name="Actualizacion de auditoria Fault">
							<spring-object bean="updateAuditFault" />
						</component>
					</processor-chain>
				</when>
				<otherwise>
					<logger level="INFO" message="[FLOW - RecepcionBT] - Actualizacion de auditoria no requerida" doc:name="Logger" />
				</otherwise>
			</choice>	
	
			<logger level="INFO" doc:name="Logger" message="[FLOW - RecepcionBT] - SOAP Fault procesado" />
		
        </catch-exception-strategy>
	</flow>
</mule>
