misim-bus/misim-bus-core/target/classes/https-invoker.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:https="http://www.mulesoft.org/schema/mule/https" xmlns:spring="http://www.springframework.org/schema/beans"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/https http://www.mulesoft.org/schema/mule/https/current/mule-https.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.5/mule.xsd">

    <https:connector name="commonHttpsConnector">
        <https:tls-client path="${misim.truststore.path}" storePassword="${misim.truststore.password}" type="${misim.truststore.type}"/>
        <https:tls-key-store type="${misim.keystore.type}" path="${misim.keystore.path}" keyAlias="${misim.keystore.alias}" keyPassword="${misim.keystore.keyPassword}" storePassword="${misim.keystore.storePassword}" />
    </https:connector>
	
	<flow name="httpsInvoker">
		<inbound-endpoint address="vm://https-invoker"
			exchange-pattern="request-response" doc:name="https-invoker" />
		<https:outbound-endpoint address="https://#[message.inboundProperties.url]" connector-ref="commonHttpsConnector" exchange-pattern="request-response" method="POST"/>
	</flow>

</mule>
